<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Event_Flix.Properties.Settings.AdminsConnectionString"
            connectionString="Data Source=DESKTOP-S7ITCR8\SQLEXPRESS;Initial Catalog=Admins;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Event_Flix.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-S7ITCR8\SQLEXPRESS;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Event_Flix.Properties.Settings.Event_MSConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Event MS.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>